# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Home Assistant
*.db

# Local settings
.secrets.yaml

# Internal development notes
Objectives and definitions.md
CLAUDE.md
